.padder {
  padding-left: 2em;
  padding-right: 2em;
}

.accent-text {
  color: $accent-color;
}

.welcome-message {
  color: $accent-color;
}

.sub-welcome-message {
  color: #f1f1f1;
  font-size: 40%;
}

.default-text {
  color: $text-color;
}

.bold-text {
  font-weight: 700;
}

.transparent {
  opacity: 0;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
