@import "fonts";
@import "vars";
@import "reset";
@import "base";
@import "layout";

.nav-container,
.header {
  background: $hero-color;
}

.navbar {
  position: relative;
  z-index: 5;
  height: 7.1em;
  max-height: 7.1em;
  padding-top: 2em;
}

.logo {
  float: left;

  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0px;
  }

  img {
    vertical-align: middle;
  }
}

.links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: -2em;
  left: -2em;
  padding: 1em 0;
  background: $hero-color;
  text-align: center;
  -webkit-box-shadow: 0 5px 7px 0 $header-shadow-color;
  box-shadow: 0 5px 7px 0 $header-shadow-color;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;

  li {
    padding: 0.5em 0;
  }

  a {
    color: $group-text-color;
    font-size: 1.8em;
    font-weight: 600;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    &:hover {
      color: $text-color;
    }

    &.active {
      color: $text-color;
    }
  }
}

.main-description {
  position: relative;

  h1 {
    position: relative;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 2.3em;
    padding-bottom: 2.3em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    z-index: 1;
  }

  img {
    position: absolute;
    bottom: 0;
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.category {
  margin-top: 3em;

  &.line {
    margin: 0;
  }

  &-label {
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.472em;
  }

  &-content {
    color: $group-text-color;
    font-size: 1.8em;
    font-weight: 600;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

//361
@media only screen and (min-width: 22.5625em) {
  .main-description {
    h1 {
      font-size: 4.6em;
      padding-top: 1.923em;
      padding-bottom: 1.923em;
    }
  }

  .category {
    margin-top: 5em;

    &-label {
      margin-bottom: 0.625em;
    }
  }
}

//537
@media only screen and (min-width: 33.5625em) {
  .main-description {
    h1 {
      font-size: 5.2em;
    }
  }
}

//741
@media only screen and (min-width: 46.3125em) {
  .links {
    visibility: visible;
    opacity: 1;
    position: static;
    float: right;
    width: auto;
    padding: 0;
    height: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 100%;
      width: 0px;
    }

    li {
      display: inline-block;
      width: auto;
      margin-left: 4em;
      vertical-align: middle;
    }
  }

  .burger-holder {
    display: none;
  }

  .showBurger {
    .burger-holder {
      display: block;
    }

    .links {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      float: none;
      height: auto;
      padding: 1em 0;
      -webkit-box-shadow: 0 5px 7px 0 $header-shadow-color;
      box-shadow: 0 5px 7px 0 $header-shadow-color;

      &:before {
        display: none;
      }

      & > li {
        display: list-item;
        margin: 0;
      }
    }
  }

  .main-description {
    h1 {
      font-size: 5.4em;
      line-height: 1.1428;
      padding-top: 2.3148em;
      padding-bottom: 2.3148em;
    }
  }

  .category {
    width: 100%;
    float: left;

    & > div {
      float: left;
    }

    &-label {
      width: 30%;
      margin-bottom: 0;
    }

    &-content {
      width: 70%;
    }
  }

  .projects {
    margin-top: 10em;
  }
}

//936
@media only screen and (min-width: 58.5em) {
  .main-description {
    h1 {
      padding-bottom: 3.907em;
    }
  }

  .category {
    margin-top: 7.5em;

    &-label {
      width: 42.47787%;
    }

    &-content {
      width: 57.52213%;
    }
  }
}

//1170
@media only screen and (min-width: 73.125em) {
  .container {
    max-width: 117em;
    margin: 0 auto;
  }

  .showBurger .links {
    left: -100%;
    right: -100%;
  }
}
