{{- define "main" -}}
<div class="main-container">
  {{- partial "navigation" . -}}
  {{- partial "header" . -}}
  <div class="container">
      <div class="padder">
          <div class="categories clearfix bottom-space">
              <div class="category">
                  <div class="category-label">CONTACT ME</div>
                  <div class="category-content">
                      {{ range .Site.Data.yourfolio.social.social_icons }}
                      {{- if isset $.Site.Author .id -}}
                      <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="{{ .type }} {{ .icon }} fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                      {{- end -}}
                      {{ end }}
                  </div>
              </div>
          </div>
      </div>
      <hr>
  </div>
</div>
{{- end -}}

